<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <a href="/addcar">Add Car to Listing</a>
        <h1>Car Listings</h1>
        <!--<div th:each="category: ${categories}">-->
            <div th:each="car : ${cars}">
                <h2 th:inline="text">[[${car.make}]] [[${car.model}]]"></h2>
                <h4 th:text="${car.year}"></h4>
                <h4 th:text="${car.model}"></h4>
                <p th:text="${category.type}"></p>
            </div>

        <!--</div>-->

    </div>

</body>
</html>